/* ------------------- CSS RESET -------------------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* ----------------------------------------------- */
:root {
  --prmry-soft-orange: hsl(35, 77%, 62%);
  --prmry-soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

main {
  width: min(1200px, 100% - 3rem);
  margin: 0 auto;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

nav > ul {
  display: flex;
  list-style: none;
}

nav > ul > li a {
  margin-left: 2rem;
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--prmry-soft-red);
}

.fa-bars {
  display: none;
}
.side-bar-links {
  display: none;
}

.headline-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.06rem;
}

.major-news-section {
  width: 67%;
}

.major-news__img {
  background-image: url("./assets/images/image-web-3-desktop.jpg");
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.major-news__text {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.major-news__text .major-news__title {
  width: 40%;
  font-size: 3.2rem;
  font-weight: 800;
}

.major-news__learnmore {
  padding: 0 1.2rem;
  position: relative;
  width: 50%;
}

.major-news__learnmore p {
  color: var(--dark-grayish-blue);
}

.major-news__learnmore button {
  position: absolute;
  bottom: 0;
  padding: 13px 1.7rem;
  cursor: pointer;
  border: none;
  background: var(--prmry-soft-red);
  color: #fff;
  letter-spacing: 3px;
}

.major-news__learnmore button:hover {
  background: var(--very-dark-blue);
}

.major-news__learnmore p {
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  margin-top: 10px;
}

.suggested-section {
  width: 30%;
  background: #000;
}

.suggested-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem 2rem;
}

.ss-article1,
.ss-article2 {
  border-bottom: 1px solid var(--dark-grayish-blue);
  padding-bottom: 1.7rem;
}

.suggested-section .ss-title {
  color: var(--prmry-soft-orange);
  font-size: 2.5rem;
  font-weight: 600;
}

.ss-article-title {
  font-weight: 700;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.ss-article-title:hover {
  color: var(--prmry-soft-orange);
}

.ss-article-text {
  font-size: 0.9rem;
  color: var(--grayish-blue);
}

@media only screen and (max-width: 600px) {
  nav > ul {
    display: none;
  }

  .fa-bars {
    display: block;
    cursor: pointer;
    font-size: 2rem;
  }

  /* Sidebar toggle */
  .hide {
    display: none;
  }

  /* Sidebar styling  */
  .sidebar-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.279);
  }

  .side-bar-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5rem 2rem;
    background: rgb(255, 253, 253);
    overflow-x: hidden;

    transition: width 1s ease-in;
  }

  .side-bar-links ul {
    list-style: none;
  }

  .side-bar-links ul > li {
    margin: 1rem 0;
  }

  .side-bar-links a {
    padding: 0.5rem;
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .side-bar-links a:hover {
    color: var(--dark-grayish-blue);
  }

  .side-bar-links .fa-x {
    text-align: right;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
  }

  /* Headline section */
  .headline-section {
    flex-direction: column;
  }

  .major-news-section {
    width: 100%;
  }
  .major-news__text {
    flex-direction: column;
    gap: 1rem;
  }
  .major-news__text .major-news__title {
    width: 100%;
    font-size: 2.5rem;
    justify-content: flex-start;
  }

  .major-news__learnmore {
    width: 100%;
    padding: 0;
  }
  .major-news__learnmore button {
    position: relative;
    top: 2rem;
  }
  /* suggested-section */
  .suggested-section {
    width: 100%;
    margin-top: 2rem;
  }
}
