*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
orange hsl(35, 77%, 62%)


bg hsl(36, 100%, 99%)


*/

body {
  background: hsl(233, 8%, 79%);
}

main {
  width: min(1200px, 100% - 3rem);
  margin: 3rem auto;
}
